.selected-card {
    display: none;

    &__container {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    &__recommend-title {
        margin-bottom: 10px;
        text-align: center;
    }

    &__recommended-container {
        height: 100%;
    }

    &__quantity-container {}

    &__quantity-text {}

    &__quantity-number {}

    &__quantity-button {}
}